name: Deploy Parameter Store

on:
  workflow_dispatch:
    inputs:
      scope:
        description: "Parameter scope (common | env)"
        required: true
        type: choice
        options:
          - common
          - env
      environment:
        description: "Environment (required if scope=env)"
        required: false
        type: choice
        options:
          - dev
          - qa
          - stage
          - prod

env:
  AWS_REGION: ${{ secrets.AWS_REGION }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment || 'qa' }}

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pyyaml ruamel.yaml

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.IAM_ROLE }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Build and Deploy Parameters
        shell: bash
        env:
            SALES_VAL: ${{ secrets.SALES_PORTAL_ROLES }}
        run: |

          SCOPE="${{ github.event.inputs.scope }}"
          DEPLOY_ENV="${{ github.event.inputs.environment || 'qa' }}"
          
          # 1. Handle Stack Name and Environment Input logic
          if [ "$SCOPE" == "common" ]; then
            STACK_NAME="parameter-store-common"
            DEPLOY_ENV="qa"  # fallback for common
          else
            STACK_NAME="parameter-store-$DEPLOY_ENV"
          fi

          echo "Deploying stack $STACK_NAME with scope $SCOPE and env $DEPLOY_ENV"

          # 2. Deploy the stack

          aws cloudformation deploy \
            --template-file template.yaml \
            --stack-name "$STACK_NAME" \
            --region "$AWS_REGION" \
            --capabilities CAPABILITY_NAMED_IAM \
            --no-fail-on-empty-changeset \
            --parameter-overrides \
              Scope="$SCOPE" \
              environment="$DEPLOY_ENV" \
              Param18HRPORTALROLESValue='${{ secrets.HR_PORTAL_ROLES }}' \
              Param22OPERATIONSPORTALROLESValue='${{ secrets.OPERATIONS_PORTAL_ROLES }}' \
              Param29SALESPORTALROLESValue="$SALES_VAL" \
              Param3DOCUSIGNACCOUNTIDValue='${{ secrets.DOCUSIGN_ACCOUNT_ID }}' \
              Param36GUNNERNONSERVICESTATEValue='${{ secrets.GUNNER_NON_SERVICE_STATE }}' \
              Param1COGNITOCLIENTIDValue='${{ secrets.COGNITO_CLIENT_ID }}' \
              Param46REDISREADCONNECTIONValue="${{ secrets.REDIS_READ_CONNECTION }}"
