name: Deploy Parameter Store
on:
  workflow_dispatch:
env:
  AWS_REGION: ${{ vars.AWS_REGION }}
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v3
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.IAM_ROLE }}
          aws-region: ${{ env.AWS_REGION }}
      - name: Build
        run: sam build
      - name: Deploy
        env:
          COGNITO_CLIENT_ID: ${{ secrets.COGNITO_CLIENT_ID }}
          COGNITO_USER_POOL_ID: ${{ secrets.COGNITO_USER_POOL_ID }}
          EMAIL_FROM_EMAIL: ${{ secrets.EMAIL_FROM_EMAIL }}
          CONTRACT_PORTAL_HMAC_SECRET: ${{ secrets.CONTRACT_PORTAL_HMAC_SECRET }}
          HUBSPOT_API_KEY: ${{ secrets.HUBSPOT_API_KEY }}
          DB_CONNECTION_STRING: ${{ secrets.DB_CONNECTION_STRING }}
          SMTP_DETAILS: ${{ secrets.SMTP_DETAILS }}
          SNS_PROJECT: ${{ secrets.SNS_PROJECT }}
          SNS_PUSH_NOTIFICATION: ${{ secrets.SNS_PUSH_NOTIFICATION }}
          SNOWFLAKE_USERNAME: ${{ secrets.SNOWFLAKE_USERNAME }}
          SNOWFLAKE_PASSWORD: ${{ secrets.SNOWFLAKE_PASSWORD }}
          SNOWFLAKE_WAREHOUSE: ${{ secrets.SNOWFLAKE_WAREHOUSE }}
        run: |
          sam deploy \
            --config-file samconfig.toml \
            --config-env prod \
            --parameter-overrides "ParameterKey=COGNITO_CLIENT_ID,ParameterValue=${COGNITO_CLIENT_ID} ParameterKey=COGNITO_USER_POOL_ID,ParameterValue=${COGNITO_USER_POOL_ID} ParameterKey=EMAIL_FROM_EMAIL,ParameterValue=${EMAIL_FROM_EMAIL} ParameterKey=CONTRACT_PORTAL_HMAC_SECRET,ParameterValue=${CONTRACT_PORTAL_HMAC_SECRET} ParameterKey=HUBSPOT_API_KEY,ParameterValue=${HUBSPOT_API_KEY} ParameterKey=DB_CONNECTION_STRING,ParameterValue=${DB_CONNECTION_STRING} ParameterKey=SMTP_DETAILS,ParameterValue=${SMTP_DETAILS} ParameterKey=SNS_PROJECT,ParameterValue=${SNS_PROJECT} ParameterKey=SNS_PUSH_NOTIFICATION,ParameterValue=${SNS_PUSH_NOTIFICATION} ParameterKey=SNOWFLAKE_USERNAME,ParameterValue=${SNOWFLAKE_USERNAME} ParameterKey=SNOWFLAKE_PASSWORD,ParameterValue=${SNOWFLAKE_PASSWORD} ParameterKey=SNOWFLAKE_WAREHOUSE,ParameterValue=${SNOWFLAKE_WAREHOUSE}"
