name: Deploy Parameter Store

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment (dev | qa | stage | prod)"
        required: true
        type: choice
        options:
          - dev
          - qa
          - stage
          - prod

env:
  AWS_REGION: ${{ secrets.AWS_REGION }}
  STACK_NAME: parameter-store-test
  ENVIRONMENT: ${{ inputs.environment }}

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      env: ${{ inputs.environment }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.IAM_ROLE }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Deploy CloudFormation stack (SecureString + String)
        env:
          SECURE_PARAM_1: ${{ secrets.SECURE_PARAM_1 }}
          SECURE_PARAM_2: ${{ secrets.SECURE_PARAM_2 }}
        run: |
          aws cloudformation deploy \
            --template-file template.yaml \
            --stack-name "$STACK_NAME" \
            --region "$AWS_REGION" \
            --capabilities CAPABILITY_NAMED_IAM \
            --parameter-overrides \
              environment="$ENVIRONMENT" \
              SecureStringValue1="$SECURE_PARAM_1" \
              SecureStringValue2="$SECURE_PARAM_2"

      - name: Deployment completed
        run: echo "SecureString and String parameters deployed successfully"